.fontcolor{
color: #1D1E20 !important;
};
.gradcolor{
    background-image: linear-gradient(90deg, #00B0C2 0%, #86C140 100%);
   

}
.fontcard{
    color: #31373DB2;
}
.fontcardp{
   color: #31373D80;
}